{% extends "base_generic.html" %}

{% block title %}
    <title>Local Library | Password Reset Complete</title>
{% endblock %}

{% block navbar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link"  href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'books' %}">All Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'authors' %}">Authors List</a>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
            <span class="badge text-bg-dark mt-2 p-2">User: {{ user.get_username }}</span>
        </li>
        <li class="nav-item">
            <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link">Logout</button>
            </form>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <div class="alert alert-info" role="alert">
        <h2>The password has been changed!</h2>
        <p><a href="{% url 'login' %}">log in again?</a></p>
    </div>
{% endblock %}
