{% extends "base_generic.html" %}

{% block title %}
    <title>Local Library | All Books</title>
{% endblock %}

{% block navbar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'books' %}">All Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'authors' %}">Authors List</a>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <h2>Book List</h2>
    {% if book_list %}
    <ul>
        {% for book in book_list %}
        <li>
            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
            ({{book.author}})
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}
